QuakeML-SERA-1.3.xsd

<?xml version='1.0' encoding='UTF-8'?>
<!-- 
	The SERA_quakeML schema has been created to exchange site charactterization 
	information. It is based on QuakeML Draft 2.0 and fulfills required information 
	by the European Geotechnical Database (EGD) and by EU-SERA.

	Schema versions:
	1.2: Created in the context of the SERA Project (Tasks 7.1-7.4)
		Author: Cecile Cornou (cecile.cornou@univ-grenoble-alpes.fr)
	1.3: Updated in the context of an ORFEUS grand for the implementation of a software
		for handling site characterization metadata. 
		Author: Kiriaki Konstantinidou (kiriaki@itsak.gr)	
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.orfeus-eu.org/xml/site/1" 
	targetNamespace="http://www.orfeus-eu.org/xml/site/1" elementFormDefault="qualified" 
	attributeFormDefault="unqualified" version="1.3">
	
	<xs:element name="SERA_quakeml" type="RootType">
		<xs:annotation>
			<xs:documentation>
				The <strong>SERA_quakeML</strong> schema has been created to exchange 
				information on site charactterization information. It is based on QuakeML 
				Draft 2.0 and fulfills required information by the European Geotechnical 
				Database (EGD) and by EU-SERA.
			</xs:documentation>
		</xs:annotation>
		<!-- All attributes with name "publicID" should have unique values -->
		<xs:unique name="uniquePublicID">
			<xs:selector xpath=".//*"/>
			<xs:field xpath="@publicID"/>
		</xs:unique>
	</xs:element>

	<xs:complexType name="RootType">
		<xs:annotation>
			<xs:documentation>
				Root-level for SiteXML documents.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="creationTime" type="xs:dateTime"> 
				<xs:annotation>
					<xs:documentation>Date and time that this document was generated. 
						DateTime format should follow the <strong>ISO 8601</strong> specification<br/>
						<strong>Example: </strong>2025-11-26T12:49:55Z
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="externalReference" type="ExternalReferenceType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>URI of any type of external resource that may include 
						site characterization information on this site. May occur more than one time. 
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!--   ************** SITE OWNER *************************     -->
			<xs:element name="siteOwner" type="SiteOwnerType"/> 
			<!--   ************** SITE DESCRIPTION *************************     -->
			<xs:element name="siteDescription" type="SiteDescriptionType"/> 
			<!--   ************** SITE CONDITION INDICATORS **********     -->
			<xs:element name="analysis" type="AnalysisType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation> 
					<xs:documentation>Each SiteXML document may include more than one Analysis object.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="publicID" type="ResourceIdentifier" use="required">
			<xs:annotation>
				<xs:documentation>Unique resource ID of the site.<br/>
					<strong>Example: </strong>quakeml:domain.ab/site/001.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="schemaVersion" type="SchemaVersionType" use="required">
			<xs:annotation>
				<xs:documentation>The schema version of the XML file.<br/>
					<strong>Example: </strong>1.3
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<!-- Site Owner Type Definition -->

	<xs:complexType name="SiteOwnerType">
		<xs:annotation>
			<xs:documentation>
				Owner of the site. You must provide at least the Institution and a contact person.<br/>
				<strong>Note:</strong> SiteOwnerType is based on QuakeML 2.0 draft <strong>stc:SiteOwner</strong>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="codeName" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						Short code name of the owner institution <br/>
						<strong>Example: </strong>ISTERRE
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fullName" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						Full name / title of the owner institution <br/>
						<strong>Example: </strong>Institut des Sciences de la Terre
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="contact" type="ContactType">
				<xs:annotation>
					<xs:documentation>
						Contact person for this site.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="publicID" type="ResourceIdentifier">
			<xs:annotation>
				<xs:documentation>Unique resource ID of the site owner.<br/>
					<strong>Example: </strong>quakeml:domain.ab/site_owner/001.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	
	<xs:complexType name="ContactType">
		<xs:annotation>
			<xs:documentation>
				Contact information for a person. Includes personal informational and institution affiliation.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="person" type="PersonType"/>
			<xs:element name="affiliation" type="AffiliationType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PersonType">
		<xs:annotation>
			<xs:documentation>
				Contact information for a person.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="firstname" type="xs:string"/>
			<xs:element name="lastname" type="xs:string"/>
			<xs:element name="mbox" type="EmailType">
				<xs:annotation>
					<xs:documentation>
						<strong>Example: </strong>someemail@domain.ab
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="homepage" type="xs:anyURI" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<strong>Example: </strong>https://www.domain.ab/person
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="publicID" type="ResourceIdentifier">
			<xs:annotation>
				<xs:documentation>Unique resource ID of the person.<br/>
					<strong>Example: </strong>quakeml:domain.ab/person/001.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="AffiliationType">
		<xs:annotation>
			<xs:documentation>
				Affiliation information for a person. Includes the institution and position within the institution. 
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="institution" type="InstitutionType"/>
			<xs:element name="department" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<strong>Example: </strong>Engineering Seismology Department
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="function" type="xs:string" minOccurs="0" maxOccurs="1">
			<xs:annotation>
					<xs:documentation>
						<strong>Example: </strong>Senior researcher
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="InstitutionType">
		<xs:annotation>
			<xs:documentation>
				Information on the institution.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						<strong>Example: </strong>Seismological Institute
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mbox" type="EmailType">
				<xs:annotation>
					<xs:documentation>
						<strong>Example: </strong>info@domain.ab
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="phone" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<strong>Example: </strong>+30 123 4567890
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="homepage" type="xs:anyURI" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						<strong>Example: </strong>https://www.domain.ab
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="postalAddress" type="PostalAddressType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="publicID" type="ResourceIdentifier">
			<xs:annotation>
				<xs:documentation>Unique resource ID of the institution.<br/>
					<strong>Example: </strong>quakeml:domain.ab/institution/001.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	
	<xs:complexType name="PostalAddressType">
		<xs:annotation>
			<xs:documentation>
				A physical postal address.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="streetAddress" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						<strong>Example: </strong>Some streetAddress
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="locality" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						Use this field to provide the city of the location.<br/>
						<strong>Example: </strong>Thessaloniki
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="postalCode" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						<strong>Example: </strong>12 345
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="country" type="CountryType"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CountryType">
		<xs:annotation>
			<xs:documentation>
				Information on the country. Includes country code according to ISO 3166-1.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="code" type="CountryCodeType">
				<xs:annotation>
					<xs:documentation>
						Country code according to ISO 3166-1. 
						It should be a two letter uppercase value.<br/>
						<strong>Example: </strong>GR
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="country" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						Country name<br/>
						<strong>Example: </strong>Greece
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>	

	<!-- Site Description Type Definitions -->

	<xs:complexType name="SiteDescriptionType">
		<xs:sequence>
			<xs:element name="station" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Station code.<br/>
						<strong>Example:</strong> AGN1
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="latitude" type="RealQuantity">
				<xs:annotation>
					<xs:documentation>Geographic latitude (+/- for northern/southern hemisphere, 
						respectively). Unit (degress).<br/>
						<strong>Example:</strong> 34.1567
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="longitude" type="RealQuantity">
				<xs:annotation>
					<xs:documentation>Geographic longitude from Greenwich (+/- for eastern/western 
						longitude, respectively). Unit (degress).<br/>
						<strong>Example:</strong> 28.1567
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="altitude" type="RealQuantity" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Elevation of ground with respect to sea level (+/- for above/below sea level, 
						respectively). Unit (m).<br/>
						<strong>Example:</strong> 130.80
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="minDistanceFromStation" type="RealQuantity" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Minimum distance between the permanent seismological station and 
            			the site characterization measurement. Should be used only when representative 
						latitude and longitude of site characterization measurements cannot be provided.
						Unit (m)<br/>
						<strong>Example:</strong> 520.20
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="maxDistanceFromStation" type="RealQuantity" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Maximum distance between the permanent seismological station and 
            			the site characterization measurement. Should be used only when representative 
						latitude and longitude of site characterization measurements cannot be provided.
						Unit (m)<br/>
						<strong>Example:</strong> 520.20
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="siteTopography" type="SiteTopographyType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Quantitative description of the surface geology.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="siteMorphology" type="SiteMorphologyType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Site Indicators related to the morpohology of a site.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="preferredSiteAnalysisID" type="ResourceIdentifier" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>If you provide one or more analysis for this site 
						you should use this field to designate the prefered analysis.<br/>
						<strong>Note: </strong>The Overall Quality index of the Site Characterization will be calculated 
						using the preferred analysis.<br/>
						<strong>Example: </strong>quakeml:domain.ab/analysis/001
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="preferredVelocityProfileID" type="ResourceIdentifier" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>If you provide one or more velocity profiles for this site 
						you should use this field to designate the prefered Velocity Profile.<br/>
						<strong>Note: </strong>The Overall Quality index of the Site Characterization will be calculated 
						using the preferred velocity profile.<br/>
						<strong>Example: </strong>quakeml:domain.ab/velocity_profile/001
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="overallQindex" type="QIndexType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The Overall Quality index for this site. Must be a decimal value between 0 an 1.
						<strong>Example: </strong>0.8
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="publicID" type="ResourceIdentifier" use="required">
			<xs:annotation>
				<xs:documentation>Unique resource ID of the site description.<br/>
					<strong>Example: </strong>quakeml:domain.ab/site_description/001.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	
	<xs:complexType name="SiteMorphologyType">
		<xs:annotation>
			<xs:documentation source="http://www.itsak.gr/SERA_Deliverable7.1.pdf">
				Site Indicators related to the morpohology of a site, as suggested by SERA.<br/> 
				These include:
				<ul>
					<li>EC8 class</li>
					<li>Seismological Bedrock Depth</li>
					<li>Engineering Bedrock Depth (H800)</li>
					<li>Geological Unit</li>
				</ul>
				For each site indicator network operators can provide at least the following information. 
				For the allowed values in each case check the respective type.
				<ul>
					<li>Value</li>
					<li>Reference</li>
					<li>Quality Index</li>
				</ul>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="morphology" type="MorphologyType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Qualitative description of the shape of the earth's surface.
						Takes specific values.<br/>
						<strong>Note:</strong>This in not included in the QuakeML 2.0 draft<br/>
						<strong>Example:</strong> Slope
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!-- ***************** EC8 CLASS **************************    -->
			<xs:element name="siteClassEC8" type="EC8ClassType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Ground type according to Eurocode 8 (EC8 § 3.1.2, Table 3.1), 
						based on the velocityS30 value and the geotechnical description.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="siteClassEC8Qindex1" type="QIndexType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="siteClassEC8Reference" type="ReferenceType" minOccurs="0" maxOccurs="1"/>
			<!-- ***************** SEISMOLOGICAL BEDROCK DEPTH **************************    -->
			<xs:element name="bedrockDepth" type="RealQuantity" minOccurs="0" maxOccurs="1"/>
			<xs:element name="bedrockDepthQindex1" type="QIndexType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="bedrockDepthReference" type="ReferenceType" minOccurs="0" maxOccurs="1"/>
			<!-- ***************** ENGINEERING  BEDROCK DEPTH **************************    -->
			<xs:element name="h800" type="RealQuantity" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Depth beyond which the shear-wave velocity Vs 
						exceeds 800 m/s (only if measured).
						<strong>Note:</strong>This in not included in the QuakeML 2.0 draft<br/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="h800Qindex1" type="QIndexType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="h800Reference" type="ReferenceType" minOccurs="0" maxOccurs="1"/>
			<!-- ***************** GEOLOGY **************************    -->
			<xs:element name="geologicalUnit" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Free text description of the surface geology of a site. Maximum 255 characters.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="geologicalUnitQindex1" type="QIndexType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="geologicalMapScale" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Scale of geological map used for the description of 
						surface geology provided in geologicalUnit
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="geologicalUnitOGE" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Description of the surface geology according to a 
						Unified, Pan-European Map
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="geologicalUnitReference" type="ReferenceType" minOccurs="0" maxOccurs="1"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
			
	<xs:complexType name="SiteTopographyType">
		<xs:annotation>
					<xs:documentation>Quantitative description of the surface according to two different 
						schemas. For details on the schemas used see SERA Deliverable D7.1 - Appendix I.
						<ul><li>Example schema A: <strong>T1</strong></li>
						<li>Example schema B: <strong>Flat</strong></li></ul>
					</xs:documentation>
				</xs:annotation>
		<xs:sequence>
			<xs:element name="schemaA" type="TopographySchemaAType"/>
			<xs:element name="schemaB" type="TopographySchemaBType"/>
		</xs:sequence>
	</xs:complexType>

	<!-- Site Analysis Type Definitions -->

	<xs:complexType name="AnalysisType">
		<xs:sequence>
			<xs:element name="siteDescriptionID" type="ResourceIdentifier"> <!-- required -->
				<xs:annotation>
					<xs:documentation>The Site Description this Analysis object refers to.<br/>
					<strong>Example: </strong>quakeml:domain.ab/site_description/001</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="creationTime" type="xs:dateTime" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Date that this analysis was generated. 
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!--   ************** RESONANCE FREQUENCY  **********     -->
			<xs:element name="resonanceFrequency" type="RealQuantity" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Resonance frequency of the soil column at each location/site.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="resonanceFrequencyQindex1" type="QIndexType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Quality Index for the provided resonance frequency 
						which is derived <strong>automatically</strong> on the basis of the 
						completeness of information (resonanceFrequencyMethod and 
						resonanceFrequencyReference) and grading of the different values of the 
						resonanceFrequencyMethod. <br/>
						Detailed description on the computation of this index is given in Appendix II.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="resonanceFrequencyMethod" type="ResonanceFrequencyMethodType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Method by which resonance frequency value 
						has been determined.<br/>
						<strong>Note: </strong>Multiple values allowed
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="resonanceFrequencyReference" type="ReferenceType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Literature or web reference providing detailed information 
						on the methodology adopted for determining the resonance frequency.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!--   ************** VS30   **********     -->
			<xs:element name="velocityS30" type="RealQuantity" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Average shear-wave velocity between 0 and 30 meters depth.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="velocityS30Qindex1" type="QIndexType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Quality Index for the provided velocityS30 value, 
						which is derived <strong>automatically</strong> on the basis of the completeness of 
						information (velocityS30Method and velocityS30Reference), 
						the velocityS30MethodCombIndex, a grading scheme of the different values of
						velocityS30Method and the velocityS30ManualIndex. <br/>
						More information on how this index is computed is given in Appendix IV.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="velocityS30Method" type="VelocityS30MethodType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Method by which velocityS30 value has been determined.<br/>
					<strong>Note: </strong>Multiple values allowed
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="velocityS30MethodCombIndex" type="VelocityS30MethodCombIndexType" minOccurs="0" maxOccurs="1"/>		
			<xs:element name="velocityS30ManualIndex" type="VelocityS30ManualIndexType" minOccurs="0" maxOccurs="1"/>	
			<xs:element name="velocityS30Reference" type="ReferenceType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Literature or web reference providing detailed information 
						on the methodology adopted for determining the velocityS30 value.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!--  **************** OTHER PARAMETERS REQUESTED BY EGD ******* -->
			<xs:element name="velocityProfileCount" type="CounterType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Number of Velocity profile(s) that are available for this site.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sptLogsCount" type="CounterType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Number of SPT log profile(s) that are available for this site.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cptLogsCount" type="CounterType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Number of CPT log profile(s) that are available for this site.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="boreholeLogsCount" type="CounterType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Number of borehole log profile(s) that are available for this site.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!-- **************** VELOCITY PROFILE *********************** -->
			<xs:element name="velocityProfile" type="VelocityProfile" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>One or more velocity profiles associated with this analysis.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="velocityProfileQindex1" type="QIndexType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="velocityProfileReference" type="ReferenceType" minOccurs="0" maxOccurs="1"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="publicID" type="ResourceIdentifier" use="required"> 
			<xs:annotation>
				<xs:documentation>Unique resource ID of the analysis.<br/>
					<strong>Example: </strong>quakeml:domain.ab/analysis/001.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>

	<xs:complexType name="VelocityProfile">
    	<xs:sequence>
        	<xs:element name="layerCount" type="CounterType">
				<xs:annotation>
					<xs:documentation>
						Number of layers in this Velocity Profile.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
        	<xs:element name="velocityProfileData" type="VelocityProfileData" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						Velocity Profile data per layer.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
      	</xs:sequence>
    	<xs:attribute name="publicID" use="required" type="ResourceIdentifier">
			 <xs:annotation>
				<xs:documentation>Unique resource ID of the velocity profile.<br/>
					<strong>Example: </strong>quakeml:domain.ab/velocity_profile/001.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<!-- We need a way to tell the preferred velocity profile.
		either add here an attribute "preferred" or add o preferredVPID in siteDescription or analysis objects.
		The later will be consistent with the preferredAnalysisID in siteDescription. -->
    </xs:complexType>

	<xs:complexType name="VelocityProfileData">
		<xs:annotation>
			<xs:documentation>
				Velocity Profile data for each layer.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
    		<xs:element name="velocityP" type="RealQuantity" minOccurs="0" maxOccurs="1"/>
    		<xs:element name="velocityS" type="RealQuantity" minOccurs="0" maxOccurs="1"/>
    		<xs:element name="density" type="RealQuantity" minOccurs="0" maxOccurs="1"/>
    		<xs:element name="layerThickness" type="LayerGeometry" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
    </xs:complexType>

	<xs:complexType name="LayerGeometry">
		<xs:annotation>
			<xs:documentation>
				Geometry of the Velocity Profile layer.
			</xs:documentation>
		</xs:annotation>
    	<xs:sequence>
    		<xs:element name="layerTopDepth" type="RealQuantity"/>
    		<xs:element name="layerBottomDepth" type="RealQuantity" minOccurs="0" maxOccurs="1"/>  <!-- Bottom depth may be missing for last layer -->
		</xs:sequence>
    </xs:complexType>

	<!-- Common COMPLEX TYPES --> 

	<xs:complexType name="ReferenceType">
		<xs:annotation>
			<xs:documentation>
				This type is used to provide reference information for site indicators. 
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="literatureSource" type="LiteratureSourceType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="fileResource" type="FileResourceType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="LiteratureSourceType">
		<xs:annotation>
			<xs:documentation>
				This type is used to provide information on a published resource.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="title" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						Title of the publication.<br/>
						<strong>Example: </strong>Characterization of site conditions (soil class, Vs30, 
							velocity profiles) for 33 stations from the French permanent 
							accelerometric network (RAP) using surface-wave methods
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="firstAuthor" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Main author of the publication.<br/>
						<strong>Example: </strong>Hollender F.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="secondaryAuthors" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Comma seperated list of the secondary authors.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="year" type="YearType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Year of the publication.<br/>
						<strong>Example: </strong>2018
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="booktitle" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Title of the journal, book, etc this work was published.<br/>
						<strong>Example: </strong>Bulletin Earthquake Engineering
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="doi" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Digital Object Identifier (DOI) of the publication.<br/>
						<strong>Example: </strong>10.1007/s10518-017-0135-5
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="languageCode" type="LanguageCodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Language code according to ISO 639-1.
						It should be a two letter lowercase value.<br/>
						<strong>Example: </strong>en
					</xs:documentation>
				</xs:annotation>
			</xs:element>
				<!--
				<xs:simpleType>
					<xs:restriction base="ResourceIdentifier">
						<xs:pattern value="doi:.*"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
				-->
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="FileResourceType">
		<xs:annotation>
			<xs:documentation>This type contains a URL and a description for a resource.<br/>
				<strong>Note: </strong>This type is identical to the FDSN ExternalReferenceType.
			</xs:documentation>
		</xs:annotation>
		<!-- FileResourceType is identical to ExternalReferenceType. could be removed. -->
		<xs:sequence>
			<xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="url" type="xs:anyURI" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ExternalReferenceType">
		<xs:annotation>
			<xs:documentation>This type contains a URI and a description for external data that users
				may want to reference in SiteXML.<br/>
				<strong>Note: </strong>This type is identical to the FDSN ExternalReferenceType.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="uri" type="xs:anyURI"/>
			<xs:element name="description" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="RealQuantity">
		<xs:annotation>
			<xs:documentation>
				This type is used to represent real values with uncertainty. <br/>
				Uncertainty must be a non negative double.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="value" type="xs:double"/>
			<xs:element name="uncertainty" type="NonNegativeDouble" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="QIndexType">
		<xs:annotation>
			<xs:documentation>
				This type is used to restrict the values of a quality index between 0 an 1. 
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="value">
				<xs:simpleType>
					<xs:restriction base="xs:double">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<!-- SIMPLE TYPES --> 

	<xs:simpleType name="TopographySchemaAType">
		<xs:annotation>
			<xs:documentation>
				Topography is a precise (quantitative) description of the ground surface 
				features of a site. Schema A is the topography description schema of the Italian Code.
				<ul>
					<li>T1 : Flat surface, isolated slopes and cliffs with average slop angle </li>
					<li>T2 : Slopes with average slope angle i&gt;15</li>
					<li>T3 : Ridges with crest width significantly less than the base width and average slope angle 15</li>
					<li>T4 : Ridges with crest width significantly less than the base width and average slope angle i&gt;30</li>
				</ul>
			</xs:documentation>
		</xs:annotation>
    	<xs:restriction base="xs:string">
      		<xs:enumeration value="T1"/>
      		<xs:enumeration value="T2"/>
      		<xs:enumeration value="T3"/>
      		<xs:enumeration value="T4"/>
		</xs:restriction>
  	</xs:simpleType>

	<xs:simpleType name="TopographySchemaBType">
		<xs:annotation>
			<xs:documentation>
				Topography is a precise (quantitative) description of the ground surface 
				features of a site. Schema B is the one proposed by Burjanek et al. (2014).<br/>
				For the precise definition of the allowed values refer to <strong>SERA Deliverable D7.1</strong>.
				<!-- Add URL poinding to the SERA deliverbal or to the SiteXML documentation -->
			</xs:documentation>
		</xs:annotation>
    	<xs:restriction base="xs:string">
      		<xs:enumeration value="Valley"/>
      		<xs:enumeration value="Lower slope"/>
      		<xs:enumeration value="Flat"/>
      		<xs:enumeration value="Middle slope"/>
			<xs:enumeration value="Upper slope"/>
			<xs:enumeration value="Ridge"/>
		</xs:restriction>
  	</xs:simpleType>

	<xs:simpleType name="MorphologyType">
		<xs:annotation>
			<xs:documentation>
				Qualitative description of the shape of the earth's surface
			</xs:documentation>
		</xs:annotation>
    	<xs:restriction base="xs:string">
      		<xs:enumeration value="Plain"/>
      		<xs:enumeration value="Valley - Basin"/>
      		<xs:enumeration value="Slope"/>
			<xs:enumeration value="Ridge"/>
		</xs:restriction>
  	</xs:simpleType>

	<xs:simpleType name="EC8ClassType">
		<xs:annotation>
			<xs:documentation>
				Ground type according to <strong>Eurocode 8 (EC8 § 3.1.2, Table 3.1)</strong>, 
				based on the velocityS30Value and geotechnical description
			</xs:documentation>
		</xs:annotation>
    	<xs:restriction base="xs:string">
      		<xs:enumeration value="A"/>
      		<xs:enumeration value="B"/>
      		<xs:enumeration value="C"/>
      		<xs:enumeration value="D"/>
			<xs:enumeration value="E"/>
			<xs:enumeration value="S1"/>
			<xs:enumeration value="S2"/>
			<xs:enumeration value="Undefined"/>
    	</xs:restriction>
  	</xs:simpleType>
	
	<xs:simpleType name="ResonanceFrequencyMethodType">
		<xs:annotation>
			<xs:documentation>
				Method by which resonance frequency (dominant_frequency) has been determined.
				Used to determine the Quality Index of the provided f0 of a site.<br/>
				For more information, see <strong>SERA Deliverable 7.1, Appendix II</strong>.
			</xs:documentation>
		</xs:annotation>
    	<xs:restriction base="xs:string">
      		<xs:enumeration value="HVSR EARTHQUAKE RECORDS"/>
      		<xs:enumeration value="HVSR NOISE"/>
			<xs:enumeration value="SSR EARTHQUAKE RECORDS"/>
      		<xs:enumeration value="SSR NOISE"/>
			<xs:enumeration value="INFERRED"/>
		</xs:restriction>
  	</xs:simpleType>

	<xs:simpleType name="VelocityS30MethodType">
		<xs:annotation>
			<xs:documentation source="https://www.itsak.gr">
				Method used for the extraction of S-wave velocity profiles and, thus, 
				of the average shear-wave velocity over the top 30 meters of the soil column, Vs30.<br/>
				Used to determine the Quality Index of the provided Vs30 of a site.<br/>
				For more information, see <strong>SERA Deliverable 7.1, Appendix IV</strong>.
			</xs:documentation>
		</xs:annotation>
    	<xs:restriction base="xs:string">
      		<xs:enumeration value="Geology"/>
      		<xs:enumeration value="Topographic Slope"/>
      		<xs:enumeration value="SPT"/>
			<xs:enumeration value="CPT"/>
			<xs:enumeration value="Laboratory"/>
			<xs:enumeration value="S-REFR"/>
			<xs:enumeration value="S-REFL"/>
			<xs:enumeration value="SASW"/>
			<xs:enumeration value="MASW"/>
			<xs:enumeration value="SWI"/>
			<xs:enumeration value="SPAC/F-K"/>
			<xs:enumeration value="ReMi"/>
			<xs:enumeration value="Crosshole"/>
			<xs:enumeration value="Downhole"/>
			<xs:enumeration value="Uphole"/>
			<xs:enumeration value="P-S Log"/>
			<xs:enumeration value="Seismic Cone"/>
			<xs:enumeration value="DH Strong Motion Arrays"/>
		</xs:restriction>
  	</xs:simpleType>

	<xs:simpleType name="VelocityS30MethodCombIndexType">
		<xs:annotation>
			<xs:documentation> 
				Carries the information on whether a combination of two methods or more has been applied 
				to estimate the Vs30 value. It is used for the estimation of the Vs30 quality index.
				Allowed values: 
				<ul>
					<li>1.0 : if only one method has been used to estimate the Vs30 value</li>
					<li>1.2 : if a combination of two or more methods has been applied to estimate the Vs30 value</li>
				</ul>
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:double">
			<xs:enumeration value="1.0"/>
			<xs:enumeration value="1.2"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="VelocityS30ManualIndexType">
		<xs:annotation>
			<xs:documentation> 
				Overall qualitative factor on the knowledge of the maximum depth of Vs measurements, 
				which is most commonly related to the depth the EC8 engineering bedrock (Vs≥800 m/s). <br/>
				The reasoning for introducing this index and description of its values is provided in 
				<strong>SERA Deliverable 7.1, Appendix III</strong>.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:double">
			<xs:enumeration value="0.2"/>
			<xs:enumeration value="0.4"/>
			<xs:enumeration value="0.8"/>
			<xs:enumeration value="1.0"/>
		</xs:restriction>
	</xs:simpleType>

	<!-- Type tightening and basic lexical constraints -->

	<xs:simpleType name="SchemaVersionType">
		<xs:annotation>
			<xs:documentation>Schema version string (e.g., 1.3.4).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]+\.[0-9]+(\.[0-9]+)?"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="CountryCodeType">
		<xs:annotation>
			<xs:documentation>ISO 3166-1 alpha-2 country code (two uppercase letters).<br/>
			<strong>Example</strong>: GR
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="EmailType">
		<xs:annotation>
			<xs:documentation>Email address.<br/>
			<strong>Example: </strong>someemail@domain.ab</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Za-z0-9._%+\-]+@[A-Za-z0-9.\-]+\.[A-Za-z]{2,}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="YearType">
		<xs:annotation><xs:documentation>Four-digit year (e.g., 2018).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{4}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="NonNegativeDouble">
		<xs:annotation>
			<xs:documentation>Double value greater than or equal to 0.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:double">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="CounterType">
		<xs:annotation>
			<xs:documentation>Integers greater than or equal to 0.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:nonNegativeInteger">
			</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="LanguageCodeType">
		<xs:annotation>
			<xs:documentation> 
				Two letter language code according to ISO 639-1. Should be lowercase.<br/>
				<strong>Example</strong>: el
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
              <xs:pattern value="[a-z]{2}"/>
			  <xs:maxLength value="2"/>
        </xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ResourceIdentifier">
		<xs:annotation>
			<xs:documentation>
				An identifier that serves to uniquely identify a resource. 
				This identifier can be interpreted differently depending on the datacenter/software 
				that generated the document. It should follow the QuakML Resource ID convention:<br/>
				<em>authority:domain/resource-type/local-id</em><br/>
				<strong>Example: </strong>quakeml:domain.ab/analysis/001
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:anyURI"/> 
	</xs:simpleType>
	
</xs:schema>
